################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEB_TENNIC/bin/Debug/net8.0
/WEB_TENNIC/obj
/obj/Debug/net8.0/rpswa.dswa.cache.json
/obj/Debug/net8.0/WEB_TENNIC.AssemblyInfo.cs
/obj/Debug/net8.0/WEB_TENNIC.AssemblyInfoInputs.cache
/bin/Debug/net8.0
/obj
/bin/Release/net8.0
/node_modules/@kurkle/color
/node_modules/chart.js
/node_modules/.package-lock.json
