USE [EmployeeTrackingDB]
GO
/****** Object:  StoredProcedure [dbo].[WT_ProjectDetail_Insert]    Script Date: 7/15/2026 1:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WT_M_Project_Insert]
	-- Add the parameters for the stored procedure here
@ProjectCD as varchar(10), 
@CustomerCD as varchar(13), 
@ProjectName as nvarchar(50), 
@OrderAmt as int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO WT_M_Project
	VALUES(
	@ProjectCD , 
	@CustomerCD, 
	@ProjectName , 
	@OrderAmt ,
	0 , 
	GETDATE() , 
	null, 
	null 
	)


END
