body {
    margin: 0;
}

/*Table CArd*/

.table-card .card-body {
    padding: 0;  
    margin:0;
}

.table-card table {
    margin: 0;  
    padding:0;
}


/* Progress card */
.progress-card {
    display: flex;
    flex-direction: column;
    height: auto;
}
.progress-card.has-data {
       max-height: calc(100vh - 351px);
}


    /* Card body */
.progress-card .card-body {
        flex: 1;
        min-height: 0;
        padding: 0;
        overflow: hidden;
    }



#progressTable thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #d1e7dd;
}
#progressTable {
    width: 100% !important;
    min-width: 610px;
    font-size: 0.88rem;
    table-layout:fixed;
}

    #progressTable th {
        white-space: nowrap;
    }
    #progressTable td {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    #progressTable input.form-control {
        border: none;
        background: transparent;
        box-shadow: none;
        height: 1.6rem;
    }
    /* No */
    #progressTable th:nth-child(1),
    #progressTable td:nth-child(1) {
        width: 20px;
    }

   
    #progressTable th:nth-child(2),
    #progressTable td:nth-child(2) {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
    #progressTable th:nth-child(3),
    #progressTable td:nth-child(3) {
        width: 40px;
    }

 
    #progressTable th:nth-child(4),
    #progressTable td:nth-child(4) {
        width: 52px;
    }

    #progressTable th:nth-child(5),
    #progressTable td:nth-child(5) {
        width: 30px;
    }

    #progressTable th:nth-child(6),
    #progressTable td:nth-child(6) {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #progressTable thead th {
        position: sticky;
        top: 0;
        z-index: 10;
        background: #d1e7dd;
        position: sticky;
    }

    
body.resizing {
    cursor: col-resize !important;
    user-select: none;
}

.summary-card {
    display: flex;
    flex-direction: column;
    height: auto;
}


   
    .summary-card.has-data {
        /*height: calc(100vh - 400px);*/
        max-height: calc(100vh - 320px);
    }

   
    .summary-card .card-body {
        padding: 0 !important;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

   

    .summary-card .table-responsive {
        width: 100%;
        height: 100%;
        overflow-x: auto !important;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
    }


#summaryTable {
    width: 330px !important;
    min-width: 330px ;
    font-size: 0.88rem;
    table-layout: fixed;
    margin: 0;
}

    #summaryTable th,#summaryTable td {
        padding: 0.1rem !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

      
 #summaryTable th:nth-child(1),
 #summaryTable td:nth-child(1) {
            width: 91px;
        }


   
 #summaryTable th:nth-child(2),
 #summaryTable td:nth-child(2) {
     width: 90px ;
     
 }
   

 #summaryTable th:nth-child(3),
 #summaryTable td:nth-child(3) {
            width: 102px;
           
        }


 #summaryTable th:nth-child(4),
        #summaryTable td:nth-child(4) {
            width: 58px;
            text-align: center;
        }


.col-custom{
          width:120px;
          
      }

.textcolor-custom {
    color: #073584;
}


/* Select2 Multiple - make it look like normal dropdown */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    min-height: 35px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding-left: 5px;
    position: relative;
}


    /* Bigger default Select2 arrow */
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px;
        width: 35px;
        right: 5px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-width: 7px 6px 0 6px; /* Bigger triangle */
            margin-left: -6px;
            margin-top: -3px;
        }
    /* Arrow */
    .select2-container--default .select2-selection--multiple::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #6c757d;
        pointer-events: none;
    }

    /* Keep placeholder vertically centered */
    .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
        margin-top: 6px;
        font-size: 15px;
    }

    /* Placeholder color */
    .select2-container--default .select2-selection--single .select2-selection__placeholder,
    .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
        font-size: 1rem;
        font-weight: 400;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
        font-size: 3rem;
        font-weight: 600;
    }


.select2-container--default.select2-container--focus
.select2-selection--multiple,
.select2-container--default.select2-container--focus
.select2-selection--single {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.select2-container--default .select2-selection__placeholder {
    font-size: 14px;
    color: #6c757d !important;
}



.pie-card {
    height: 300px;
    min-height: 300px;
    margin-top: 8px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}


/* =========================
   Header
   ========================= */

.pie-card .card-header {
    height: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
}


/* =========================
   Body
   ========================= */

.pie-card-body {
    height: 290px;
    min-height: 315px;
    padding: 3px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


/* =========================
   Chart Container
   ========================= */

.chart-container {
    position: relative;
    width: 310px;
    height: 310px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


/* =========================
   Pie Canvas
   ========================= */

#staffPieChart {
    display: block;
    width: 310px !important;
    height: 310px !important;
    max-width: 100%;
    max-height: 100%;
}


#progressTable th,
#summaryTable th {
    position: relative;
}

.column-resizer {
    position: absolute;
    top: 0;
    right: -3px;
    width: 7px;
    height: 100%;
    cursor: col-resize;
    z-index: 100;
}

    .column-resizer:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

body.resizing {
    cursor: col-resize !important;
    user-select: none;
}