BEGIN TRY 
Drop Procedure dbo.[sp_Project_Select_ByEndFlg]
END TRY
BEGIN CATCH END CATCH 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO

CREATE PROCEDURE [dbo].[sp_Project_Select_ByEndFlg]
@EndFlag As int
   AS
BEGIN
    SET NOCOUNT ON;
	IF @EndFlag = 1
BEGIN

;WITH CTE AS
(
    SELECT
        ProjectCD,
        ProjectName,
        CASE WHEN EndFlag = 1 THEN N'◯' ELSE '' END AS EndFlag,
        ROW_NUMBER() OVER
        (
            PARTITION BY ProjectCD
            ORDER BY CustomerCD
        ) AS RN
    FROM WT_M_Project
    WHERE	
      DeleteDateTime IS NULL
)
SELECT
    ProjectName,
    EndFlag,
    CAST(ROW_NUMBER() OVER (ORDER BY ProjectCD desc) AS INT) AS No
FROM CTE
WHERE RN = 1
ORDER BY ProjectCD desc; 
END

ELSE
BEGIN
 
 ;WITH CTE AS
(
    SELECT
        ProjectCD,
        ProjectName,
        CASE WHEN EndFlag = 1 THEN N'◯' ELSE '' END AS EndFlag,
        ROW_NUMBER() OVER
        (
            PARTITION BY ProjectCD
            ORDER BY CustomerCD
        ) AS RN
    FROM WT_M_Project
    WHERE EndFlag = 0
      AND DeleteDateTime IS NULL
)
SELECT
    ProjectName,
    EndFlag,
    CAST(ROW_NUMBER() OVER (ORDER BY ProjectCD desc) AS INT) AS No
FROM CTE
WHERE RN = 1
ORDER BY ProjectCD desc;
END
 
    
END



